.clearfix {
  @include clearfix;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  *display:inline;
  vertical-align: middle;
  zoom:1;
}

.inline-block-reset-spacing {
  letter-spacing: -0.279em;
  > *{
    letter-spacing:normal;
  }
}

/* ============= */
/* = Variables = */
/* ============= */

/* Colors */

$white: #fff;

/* Fonts */
$helveticalight : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;

/* Font Weight */
$light: 100;
$normal: 300;
$bold: 600;


